---
layout: layouts/base.html
activemenu: "home"
meta:
  title: Wasatch Maids | Premium Home Cleaning and Maid Services
  description: "Fair, thorough, honest, and timely home cleaning and maid service in Weber, Morgan, and Davis County. Easy online booking where your happiness is guaranteed."
<!-- social-image: -->
---

<main id="main">
  <section id="hero">
    <div class="container hero-content">
      <div class="heroText">
        <h1 id="home-h">Home Cleaning & Maid Services</h1>
        <p>
          Get back to the things that matter most in life, by having Wasatch
          Maids take care of the cleaning. All cleaners are certified maids, and
          our cleaning and work is insured and
          <span class="key blue">your satisfaction is guaranteed.</span>
        </p>

        <p>
          Book your home cleaning online in 60 seconds, or
          <a class="contactLink" href="/contact.html">contact us</a> for
          bookings, questions, and for all other cleaning requests.
        </p>
        <a class="button-solid" href="/booknow.html">Book Home Cleaning</a>
        <a class="button-transparent" href="/contact.html"> Get In Touch </a>
      </div>
    </div>
    <div class="circle-container-small">
      <div aria-hidden="true" class="circle circle1 dark"></div>
      <div aria-hidden="true" class="circle circle2 dark"></div>
      <div aria-hidden="true" class="circle circle3 dark"></div>
    </div>
  </section>
  <section class="general_content values">
    <div class="values_container">
      <h2>Our Values</h2>
      <div class="values_container-values">
        <p>Clean</p>
        <span class="bullet-point"></span>
        <p>Honest</p>
        <span class="bullet-point"></span>
        <p>Thorough</p>
        <span class="bullet-point"></span>
        <p>Fair</p>
      </div>
    </div>
  </section>
  <section id="features-section">
    <div class="features-container">
      <div class="features_component">
        <div class="features_text-wrapper">
          <h2 class="section-subheading">Why Wasatch Maids?</h2>
          <p class="text-content">
            At Wasatch Maids, we're committed to
            <em class="key">exceeding</em> your expectations, and our highly
            trained staff of cleaning professionals go above and beyond to
            deliver on this commitment.
          </p>
          <p class="text-content">
            Wasatch Maids is a <span class="key blue">top-rated</span> home
            cleaning and maid service offering <span class="key">fair</span>,
            <span class="key">honest</span>, <span class="key">thorough</span>,
            and
            <a class="key blue" href="/cleaning-services/house-cleaning.html"
              >hassle-free home cleaning</a
            >
            and maid services in Ogden, Syracuse, Clearfield, Layton, Mountain
            Green, Huntsville, West Haven, Plain City, and surrounding areas. We
            keep everything simple with flat-rate pricing and a flexible online
            booking system. All our cleaners are certified maids with years of
            experience, and we use the safest yet most effective cleaning
            products. All cleans have a complete satisfaction guarantee. You can
            have a cleaner scheduled to come weekly, bi-weekly, monthly, or on a
            custom schedule, so you never have to worry about cleaning your home
            again.
          </p>
        </div>
        <div class="features_container">
          <div class="feature_wrapper">
            <div class="feature_text-wrapper">
              <img
                src="/assets/icons/clock.svg"
                loading="lazy"
                height="50"
                alt="An icon of a clock to indicate that our services save you time."
              />
              <h3 class="feature_heading">Saves You Time</h3>
            </div>
          </div>
          <div class="feature_wrapper">
            <div class="feature_text-wrapper">
              <img
                src="/assets/icons/medal.svg"
                height="50"
                loading="lazy"
                alt="An icon of a ribbon to indicate that we only refer the best cleaners to work with our customers. "
              />
              <h3 class="feature_heading">Only The Best Cleaners</h3>
            </div>
          </div>
          <div class="feature_wrapper">
            <div class="feature_text-wrapper">
              <img
                src="/assets/icons/cashless.svg"
                height="50"
                loading="lazy"
                alt="An icon of a credit card to indicate we only do cash-free payments."
                class="credit-card"
              />
              <h3 class="feature_heading">Cash-Free Payments</h3>
            </div>
          </div>
          <div class="feature_wrapper">
            <div class="feature_text-wrapper">
              <img
                src="/assets/icons/calendar.svg"
                height="50"
                loading="lazy"
                alt="An icon of a calendar with various dates booked to indicate the effortless rescheduling our process allows for. "
              />
              <h3 class="feature_heading">Effortless Rescheduling</h3>
            </div>
          </div>
          <div class="feature_wrapper">
            <div class="feature_text-wrapper">
              <img
                src="/assets/icons/healthy-heart.svg"
                height="50"
                loading="lazy"
                alt="An icon of a heart to indicate that the cleaners we refer, and our company focuses first on the health and safety of our customers. "
              />
              <h3 class="feature_heading">Health &amp; Safety First</h3>
            </div>
          </div>
          <div class="feature_wrapper">
            <div class="feature_text-wrapper">
              <img
                src="/assets/icons/customer-service.svg"
                height="50"
                loading="lazy"
                alt="An icon of a person with a headset on to indicate that our company provides fantastic customer service."
                class="image"
              />
              <h3 class="feature_heading">Text, Call, and E-mail Support</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% CtaBanner text="Schedule Your Home Cleaning", btnText="Book Now",
  dark=false %}
  <section class="general_content">
    <div class="general_content-container">
      <div class="general_content-component">
        <div class="general_content-text">
          <h2>Some More About Us</h2>
          <p class="text-content">
            We know life gets busy, and good cleaners can be hard to come by.
            The last thing you need is spend your valuable time cleaning, or
            looking for cleaners. That's why we offer
            <span class="key">high-quality, thorough, honest,</span> and
            <span class="key">fair </span>cleaning services in the
            <a class="key blue" href="/cleaning-service-areas.html"
              >Ogden-Clearfield, UT Metropolitan area</a
            >. Our
            <a class="key blue" href="/cleaning-services/house-cleaning.html"
              >home cleaning
            </a>
            and <span class="key blue">maid services</span> are done with simple
            flat-rate pricing and online booking. We have a
            <span class="key"> complete happiness guarantee </span>, that you'll
            be satisfied with our work.
          </p>
          <p class="text-content">
            Not only do we provide standard home cleanings, but we are also
            experts at move-in and move-out cleans,
            <a class="key blue" href="/cleaning-services/deep-cleaning.html"
              >deep cleans</a
            >, and post-construction cleans. We clean all areas inside the home
            using only the safest cleaning products.
          </p>

          <p class="text-content">
            You deserve to be treated to the best clean, and you deserve to be
            <span class="key">treated fairly</span>. To us, being fair means
            paying our cleaners a living wage, while also cleaning your home in
            an extremely thorough manner so you get the best
            <em>"bang for your buck"</em>. All of our cleaners go through
            rigorous training on detail and safety in cleaning, and have been
            chosen carefully by their commitment to our core values.
            Furthermore, our work is <span class="key">insured</span> with a
            $2,000,000 policy, and your satisfaction is completely guaranteed.
            Wasatch Maids is what an <span class="key">honest</span> cleaning
            service should be.
          </p>
          <div class="center">
            <a class="button-solid-small" href="/booknow.html">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include "services.html" %} {% include "reviews.html" %}
</main>
