<li>
  <article class="snippet">
    <!-- <img
      src="{{ post.data.image }}"
      alt="{{ post.data.imageAlt }}"
      class="snippet__image"
    /> -->
    <h3 class="snippet__title">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h3>
    <p class="snippet__meta">
      by <span>{{post.data.author}}</span> on
      <span>{{ post.date | postDate }}</span>
    </p>
    <p class="snippet__body">{{post.data.description}}</p>
    <a href="{{ post.url }}" class="btn btn--primary">Continue Reading</a>
  </article>
</li>

<!-- <li>
  <span class="post-meta">May 1, 2022</span>
  <h3>
    <a class="post-link" href="/blog/posts/welcome-to-our-blog">
      Welcome to Our Blog!
    </a>
  </h3>
  Who are we? We are Wasatch Maids, a top rated cleaning service based out of
  Ogden, but serving areas from Kaysville to Willard, and from Hooper to
  Mountain Green. We have a small team of employees which allows us to keep
  quality control at the best possible level. All of...
</li> -->
