<section class="booking">
  <div class="spinner-container">
    <div id="spinner" class="loading-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <iframe
    src="https://wasatchmaids.bookingkoala.com/booknow?embed=true&offsetTopM=-852"
    style="border: none; height: 1000px"
    width="100%"
    scrolling="no"
  ></iframe>
  <script
    src="https://wasatchmaids.bookingkoala.com/resources/embed.js"
    defer
  ></script>
</section>
