<section id="cards">
  <div class="card-container">
    <div class="card container">
      <div class="card-content">
        <img
          src="/assets/icons/calendar.svg"
          aria-hidden="true"
          alt="calendar" />

        <h3>Step 1: Book</h3>
        <div class="card-line"></div>
        <p>
          Book on our website in less than a minute. Get custom pricing built
          for your budget, or call/text us at
          <a href="tel:8018212316">801.821.2316</a>. You can also
          <a href="mailto:contact@wasatchmaids.com">email us</a>, or use our
          <a href="/contact.html">contact form</a>.
        </p>
      </div>
      <div aria-hidden="true" class="clip-bottom"></div>
    </div>

    <div class="card container">
      <div class="card-content">
        <img
          src="/assets/icons/vacuum.svg"
          aria-hidden="true"
          alt="vacuum cleaner" />
        <h3>Step 2: Experience the Wasatch Care in your home</h3>
        <div class="card-line"></div>
        <p>
          One of our cleaning specialists arrives at your home to clean using
          the most advanced cleaning equipment and safest cleaning products to
          ensure your home is sanitized, safe, and spotless.
        </p>
      </div>
      <div aria-hidden="true" class="clip-bottom"></div>
    </div>

    <div class="card container">
      <div class="card-content">
        <img src="/assets/icons/drink.svg" aria-hidden="true" alt="drink" />
        <h3>Step 3: Relax</h3>
        <div class="card-line"></div>
        <p>
          Sit back, kick your feet up and relax because the cleaning pros at
          Wasatch Maids have you covered. Manage your account, book your next
          cleaning, and more, all online in seconds.
        </p>
      </div>
      <div aria-hidden="true" class="clip-bottom"></div>
    </div>
  </div>
  <div aria-hidden="true" class="clippy"></div>
</section>
