<section id="services-checklist">
  <div class="checklist_container">
    <div class="checklist_items">
      <div class="checklist_item">
        <h3>Kitchen(s)</h3>
        <ul class="check-list">
          <li class="key">Clean baseboards</li>
          <li>Dust all accessible surfaces</li>
          <li>Microwave cleaned inside and out</li>
          <li>Remove fingerprints from accessible surfaces</li>
          <li>Sweep and/or vacuum, and mop all floor surfaces</li>
          <li>Countertops and stovetop cleaned</li>
          <li>Tables and chairs cleaned</li>
          <li>Appliance exteriors cleaned (like stove, oven, fridge)</li>
          <li>Trash emptied and returned</li>
          <li><em>Any other items upon request</em></li>
        </ul>
      </div>
      <div class="checklist_item">
        <h3>Bathrooms</h3>
        <ul class="check-list">
          <li class="key">Clean baseboards</li>
          <li>Polish and clean mirrors</li>
          <li>Clean and wash out sinks</li>
          <li>Clean spouts and handles</li>
          <li>Clean and sanitize toilets and toilet bowls</li>
          <li>Tub and shower cleaned and disinfected</li>
          <li>Sweep and/or vacuum, and mop all floor surfaces</li>
          <li>Countertops disinfected <em>items removed and replaced</em></li>
          <li>Remove hard water</li>
          <li>Windowsills cleaned</li>
          <li>Trash emptied and returned</li>
          <li><em>Any other items upon request</em></li>
        </ul>
      </div>
      <div class="checklist_item">
        <h3>Bedrooms</h3>
        <ul class="check-list">
          <li class="key">Clean baseboards</li>
          <li>Dust and clean all accessible surfaces</li>
          <li>Vacuum all floors, carpet, rugs, and stairs</li>
          <li>Mop hard floors</li>
          <li>Wipe down surfaces and countertops</li>
          <li>Clean mirrors and picture frames</li>
          <li>Make bed</li>
          <li>Windowsills cleaned</li>
          <li>Trash emptied and returned</li>
          <li><em>Any other items upon request</em></li>
        </ul>
      </div>
      <div class="checklist_item">
        <h3>General Cleaning, Other Rooms</h3>
        <ul class="check-list">
          <li class="key">Clean baseboards</li>
          <li>Dust lamps, light fixures, and ceiling fan where reasonable</li>
          <li>Dust window ledges and blinds</li>
          <li>Dust furniture, shelves, decor</li>
          <li>Vacuum all floors, carpet, rugs, and stairs</li>
          <li>Mop hard floors</li>
          <li>Trash emptied and returned</li>
          <li>Clean glass surfaces and mirrors</li>
          <li><em>Any other items upon request</em></li>
        </ul>
      </div>
    </div>
    <div class="text-content center">
      <em
        >Additional items may be found in "extras" while booking online. If you
        would like something that is not there, please
        <a class="blue-link" href="../contact.html">contact us.</a></em
      >
    </div>
  </div>
  <div class="circle-container-small">
    <div aria-hidden="true" class="circle services circle1 light"></div>
    <div aria-hidden="true" class="circle circle2 light"></div>
  </div>
</section>
