<div class="text-content">
  <div class="flex-grid-2">
    <div class="flex-grid-2-content">
      <h2>Our {{ about.city }} Cleaning Services</h2>
      <div class="text-content">
        <ul class="check-list">
          <li>Recurring Home Cleaning and Maid Service</li>
          <li>One-Time Deep, and Spring Cleanings</li>
          <li>Move-In and Move-Out Cleaning</li>
          <li>Post-Construction Cleanup</li>
          <li>Custom and Hourly Cleaning Services</li>
        </ul>
      </div>
    </div>
    <div class="flex-grid-2-content">
      <div class="image-container-full">
        <iframe
          loading="lazy"
          src="{{ main.map }}"
          width="100%"
          height="250px"
          frameborder="0"
          style="border: 0"
          allowfullscreen=""
        ></iframe>
      </div>
    </div>
  </div>
</div>
