<div class="text-content">
  <div class="flex-grid-2">
    <div class="flex-grid-2-content">
      <h2>Our {{ about.city }} Cleaning Services</h2>
      <div class="text-content">
        <ul class="check-list">
          <li>
            Recurring
            <span class="key blue">Home Cleaning</span>
            & Maid Services
          </li>
          <li>One-Time Deep, & Spring Cleanings</li>
          <li>Move-In & Move-Out Cleaning</li>
          <li>Post-Construction Cleaning</li>
          <li>Commercial & Office Cleaning</li>
          <li>Custom & Hourly Cleaning Services</li>
          <li>Airbnb / Vrbo Cleaning</li>
        </ul>
      </div>
    </div>
    <div class="flex-grid-2-content">
      <div class="image-container-full">
        <iframe
          loading="lazy"
          src="{{ main.map }}"
          width="100%"
          height="295px"
          frameborder="0"
          style="border: 0"
          allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</div>
