<footer id="footer">
  <div class="container">
    <div class="right-section">
      <div class="lists">
        <!-- Col 1 -->
        <div>
          <ul>
            <li><h3>Navigation</h3></li>
            <li>
              <a class="button-link green" href="/login.html">Login</a>
            </li>
            <li>
              <a href="/index.html">Home</a>
            </li>
            <li>
              <a href="/cleaning-services.html">Services</a>
            </li>
            <li>
              <a href="/cleaning-service-areas.html">Locations</a>
            </li>
            <li>
              <a href="/blog/">Blog</a>
            </li>
            <li><a href="/contact.html">Contact</a></li>
            <li>
              <a href="/jobs/">Jobs / </a><a href="/trabajos/">Trabajos</a>
            </li>
            <li><a href="/sitemap.html">Sitemap</a></li>
          </ul>
        </div>
        <!-- Col 2 -->
        <div>
          <ul>
            <li><h3>Service Areas</h3></li>
            <li>
              <a href="/cleaning-service-areas.html">All Service Areas</a>
            </li>
            {% for page in collections.serviceareanav %}
            <li>
              <a href="/cleaning-service-areas/{{ page.data.navurl }}.html"
                >{{ page.data.about.city }} Cleaning Services</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- Col 3 -->
        <div>
          <ul>
            <li><h3>Services</h3></li>
            <li>
              <a class="button-link green" href="/booknow.html"
                >Book Home Cleaning</a
              >
            </li>
            <li><a href="/cleaning-services.html">All Services</a></li>
            {% for page in collections.servicenav %}
            <li>
              <a href="/cleaning-services/{{ page.data.navurl }}.html"
                >{{ page.data.about.service }}</a
              >
            </li>
            {% endfor %}
            <li>
              <a class="button-link green" href="/contact.html">Contact Us</a>
            </li>
          </ul>
          <ul>
            <li><h3>Stay Connected</h3></li>
            <li class="social-flex">
              <a href="https://instagram.com/wasatchmaids" target="_blank">
                <img
                  loading="lazy"
                  decoding="async"
                  src="/assets/icons/instagram.svg"
                  alt="Instagram Icon"
                  width="30"
                  height="30"
              /></a>

              <a href="https://facebook.com/wasatchmaids" target="_blank"
                ><img
                  loading="lazy"
                  decoding="async"
                  src="/assets/icons/facebook.svg"
                  alt="Facebook Icon"
                  width="30"
                  height="30"
              /></a>
              <a href="https://goo.gl/maps/qfsSHs3VE6WJRCgA6" target="_blank"
                ><img
                  loading="lazy"
                  decoding="async"
                  src="/assets/icons/google-business.svg"
                  alt="Google My Business Icon"
                  width="30"
                  height="30"
              /></a>
            </li>
          </ul>
        </div>
        <!-- Col 4 -->
        <div>
          <ul>
            <li><h3>Get in Touch</h3></li>
            <li class="social-flex contact-info">
              <img
                loading="lazy"
                decoding="async"
                src="/assets/icons/pin.svg"
                alt="Map pin marker referring there is a location"
                width="20"
                height="20" /><a
                href="https://goo.gl/maps/HYi247PUFRcpYPdZA"
                target="_blank"
                >2969 Porter Ave, Ogden Utah</a
              >
            </li>
            <li class="social-flex contact-info">
              <img
                loading="lazy"
                decoding="async"
                src="/assets/icons/footer-phone.svg"
                alt="Phone icon to call our office"
                width="20"
                height="20" />
              <span class="phone-desktop"
                ><a href="tel:8018212316">(801) 821-2316</a></span
              >
              <span class="phone-mobile">
                <a class="button-link" href="tel:8018212316">Call</a>&nbsp;
                <a class="button-link" href="sms:8018212316">Text</a></span
              >
            </li>
            <li class="social-flex contact-info">
              <img
                loading="lazy"
                decoding="async"
                src="/assets/icons/email.svg"
                alt="email icon to email us today"
                width="20"
                height="20" />
              <span class="email-desktop">
                <a href="mailto:contact@email.com"
                  >contact@wasatchmaids.com</a
                ></span
              >
              <span class="email-mobile">
                <a class="button-link" href="mailto:contact@email.com"
                  >Send E-mail</a
                ></span
              >
            </li>
          </ul>
          <ul>
            <li><h3>Legal</h3></li>
            <li><a href="/service-policy.html">Service Policy</a></li>
          </ul>
        </div>
      </div>

      <div class="buttons">
        <a class="button-solid" href="/booknow.html"> Book Home Cleaning </a>
      </div>
    </div>
  </div>
  <div class="credit">
    <img
      src="/assets/images/maid_logo_white.svg"
      width="100"
      alt="Wasatch Maids logo in white" />

    <span class="copyright"> Copyright 2022</span>
  </div>
  <div class="circle-container-small">
    <div aria-hidden="true" class="circle circle1 dark"></div>
    <div aria-hidden="true" class="circle circle2 dark"></div>
  </div>
</footer>
