  <!-- Mobile Nav Strip -->
  <div class="mobile-wrapper">
    <div class="mobile-nav container mobile-nav-container">
      <a class="nav-logo" href="/index.html">
        <img
          id="mobile-logo"
          src="/assets/images/maid_logo.svg"
          alt="mobile company logo that says wasatch maids"
          height="60"
        />
      </a>

      <!-- Hamburger Menu -->
      <button
        aria-label="open the menu"
        id="menu-button"
        class="hamburger hamburger--spring"
        onclick="toggleNav()"
        type="button"
      >
        <span aria-hidden="true" class="hamburger-box">
          <span aria-hidden="true" class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>

  <nav>
    {% if not banner %}
    <div class="call-nav">
      <div class="call-nav-body">
      <div>
        <p class="call-nav-phone">
          Call or Text Now: <a href="tel:8018212316"> (801) 821-2316 </a> or
          book online in 60 seconds
        </p>
        <p class="call-nav-phone">
          Book Monday or Tuesday and save <span class="key">$15</span> with code <span class="key">MONTUE</span>
        </p>
      </div>
        <div></div>
        <a href="/booknow.html?utm_source=header&utm_medium=cta-button&utm_campaign=MONTUE-15-off" class="call-nav-quote-btn">Book Now</a>
      </div>
    </div>
    {% endif %}
    {% if (banner === 'questions') or (banner === 'tools')%}
    <div class="call-nav questions">
    <div class="call-nav-body questions">
      <div>
        <p class="call-nav-phone">
         Questions? Call or text us: <a href="tel:8018212316"> (801) 821-2316 </a>
        </p>
      </div>
      </div>
    </div>
    {% endif %}
    {% if banner === 'contact' %}
    <div class="call-nav questions">
    <div class="call-nav-body questions">
      <div>
        <p class="call-nav-phone">
          Don't wait! Call or text us now: <a href="tel:8018212316"> (801) 821-2316 </a>
        </p>
      </div>
      </div>
    </div>
    {% endif %}
    {% if banner === 'review' %}
    <div class="call-nav questions">
    <div class="call-nav-body questions">
      <div>
        <p class="call-nav-phone">
          Want to talk with someone about this? Call or text us now: <a href="tel:8018212316"> (801) 821-2316 </a>
        </p>
      </div>
      </div>
    </div>
    {% endif %}

    {% if banner === 'questions-spa' %}
    <div class="call-nav questions">
    <div class="call-nav-body questions">
      <div>
        <p class="call-nav-phone">
         Preguntas? Llámenos o envíenos un mensaje: <a href="tel:8018212316" aria-label="Call us" > (801) 821-2316 </a>
        </p>
      </div>
      </div>
    </div>
    {% endif %}
    {% if banner  %}
    <div class="navbar-menu questions">
    {% endif %}
    {% if not banner %}
    <div class="navbar-menu">
    {% endif %}
      <div id="side-menu" class="side-nav">
        <a class="nav-logo" href="/index.html" aria-label="Go to our main landing page">
          <img
            class="light"
            aria-hidden="true"
            src="/assets/images/maid_logo.svg"
            alt="company logo saying wasatch maids"
            height="80"
          />
        </a>
        <ul id="on-top" class="navbar-links">
          <li class="nav-li">
            <a {% if activemenu === 'home' %} class="active-menu" {% endif %} href="/index.html" aria-label="Read about us and our services">Home</a>
          </li>
          <li class="nav-li" style="position: relative">
            <div class="sub-menu">
              <a {% if activemenu === 'services' %} class="active-menu" {% endif %} href="/cleaning-services.html" aria-label="View all our cleaning services">Services </a>
              <div class="dropdown-list">
                <a href="/cleaning-services.html" class="dropdown-item" aria-label="View all our cleaning services"
                  >All Services</a
                >
                <a href="/cleaning-services/house-cleaning" class="dropdown-item" aria-label="Read about our residential cleaning services"
                  >Residential Cleaning</a
                >
                <a
                  aria-label="Read about our deep cleaning services"
                  href="/cleaning-services/deep-cleaning.html"
                  class="dropdown-item"
                  >Deep Cleaning</a
                >
                <a href="/cleaning-services/move-in-move-out-cleaning.html" class="dropdown-item" aria-label="Read about our move in and move out cleaning services"
                  >Move-in Move-out</a
                >
                <a href="/cleaning-services/post-construction-cleaning.html" class="dropdown-item" aria-label="Read about our post-construction cleaning services"
                  >Post-Construction</a
                >
                <a href="/cleaning-services/office-cleaning.html" class="dropdown-item" aria-label="Read about our janitorial cleaning services"
                  >Janitorial Services</a
                >
                <a href="/cleaning-services/office-cleaning.html" class="dropdown-item" aria-label="Read about our office cleaning services"
                  >Office Cleaning</a
                >
                <a href="/contact.html" class="dropdown-item" aria-label="Read about our rental and short term rental cleaning services"
                  >Rental Cleaning</a
                >
              </div>
            </div>
          </li>
          <li class="nav-li" style="position: relative">
            <div class="sub-menu">
              <a {% if activemenu === 'locations' %} class="active-menu" {% endif %} href="/cleaning-service-areas.html" aria-label="View all our cleaning locations">Locations </a>
              <div class="dropdown-list">
                <a href="/cleaning-service-areas.html" class="dropdown-item" aria-label="View all our cleaning locations"
                  >All Locations</a
                >
                {% for page in collections.serviceareanav %}
                <a
                  href="/cleaning-service-areas/{{ page.data.navurl }}.html"
                  class="dropdown-item"
                  aria-label="Read about our {{page.data.about.city}} cleaning services"
                  >{{ page.data.about.city }} Cleaning Services</a
                >
                {% endfor %}
              </div>
            </div>
          </li>
          <li class="nav-li">
            <a {% if activemenu === 'blog' %} class="active-menu" {% endif %} href="/blog/" aria-label="Read our blog">Blog</a>
          </li>
          <li {% if activemenu === 'contact' %} class="active-menu" {% endif %} class="nav-li"><a href="/contact.html" aria-label="Use our contact form to get in touch and find other ways to contact us">Contact</a></li>
          <li class="nav-li">
            <a {% if activemenu === 'booknow' %} class="active-menu button-solid" {% endif %} class="button-solid" href="/booknow.html" aria-label="Book online using our web portal">Book Now</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
