<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% if not meta.title %}
<title>{{ title }} | Wasatch Maids</title>

<meta name="description" content="{{ description }}" />
<meta property="og:title" content="{{ title }} | Wasatch Maids" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="{{ image }}" />
<meta name="twitter:title" content="{{ title }} | Wasatch Maids" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{{ image }}" />
{% endif %} {% if meta.title %}
<title>{{ meta.title }}</title>
<meta name="description" content="{{ meta.description }}" />
<meta property="og:title" content="{{ meta.title }}" />
<meta property="og:description" content="{{ meta.description }}" />
<meta property="og:image" content="{{ meta.socialimage }}" />
<meta name="twitter:title" content="{{ meta.title }}" />
<meta name="twitter:description" content="{{ meta.description }}" />
<meta name="twitter:image" content="{{ meta.socialimage }}" />
{% endif %}
<!-- Common meta tags -->
<link
  rel="canonical"
  href="https://wasatchmaids.com{{ page.url | replace('.html', '') }}"
/>
<meta
  property="og: url"
  content="https://wasatchmaids.com{{ page.url | replace('.html', '') }}"
/>
<meta property="og:site_name" content="Wasatch Maids" />
<meta property="og:type" content="article" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@wasatchmaids" />

<!--Favicons-->
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/assets/favicons/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="96x96"
  href="/assets/favicons/favicon-96x96.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/assets/favicons/favicon-16x16.png"
/>

<!-- CSS -->
<link rel="stylesheet" href="/css/main.css" />
{% if activemenu === 'home' %}
<link rel="stylesheet" href="/css/home.css" />
{% endif %} {% if activemenu === 'contact' %}
<link rel="stylesheet" href="/css/contact.css" />
{% endif %} {% if (activemenu === 'blog') or (layout === 'layouts/post.html') %}
<link rel="stylesheet" href="/css/blog.css" />
{% endif %}
