<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{title}}</title>
<link rel="canonical" href="{{canonical-link}}" />
<meta property="og: url" content="{{canonical-link}}" />
<meta name="description" content="{{description}}" />
<meta property="og:title" content="{{title}}" />
<meta property="og:site_name" content="Wasatch Maids" />
<meta property="og:description" content="{{description}}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{social-image}}" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@wasatchmaids" />
<meta name="twitter:title" content="{{title}}" />
<meta name="twitter:description" content="{{description}}" />
<meta name="twitter:image" content="{{social-image}}" />

<!--Favicons-->
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/assets/favicons/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="96x96"
  href="/assets/favicons/favicon-96x96.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/assets/favicons/favicon-16x16.png"
/>

<!-- CSS -->
<link rel="stylesheet" href="/css/core-styles.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/home.css" />
