<section id="reviews">
  <h2 class="title">What People Say About Us</h2>
  <div class="container">
    <div class="review">
      <picture>
        <img
          aria-hidden="true"
          class="profile"
          loading="lazy"
          decoding="async"
          src="/assets/icons/profile-woman.svg"
          alt="profile image of a woman"
          width="99"
          height="99" />
      </picture>
      <p>
        Today, Wasatch Maids sent three amazing women to my home. These women
        worked. Non stop. For four hours doing the best deep clean I've ever
        seen. I am thrilled with the way they left my house. They were on time,
        friendly, yet completely focused on the work. My house literally
        sparkles and I can't say enough good things about them. If I could give
        them ten stars, I absolutely would. Thank you Wasatch Maids. I wish I
        had tried you years ago.
      </p>
      <div class="star-group">
        <span class="name"
          >Maureen &mdash; <span class="desc">Homeowner</span></span
        >
        <picture>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/icons/stars.svg"
            alt="stars"
            width="91"
            height="15" />
        </picture>
      </div>
    </div>
    <div class="review">
      <picture>
        <img
          aria-hidden="true"
          class="profile"
          loading="lazy"
          decoding="async"
          src="/assets/icons/profile-woman.svg"
          alt="profile image of a woman"
          width="99"
          height="99" />
      </picture>
      <p>
        I have used these guys for quite a few years. They are amazing. As a
        Realtor I use them to get homes ready for pictures, move out cleaning,
        getting a client ready for move in, and in my own home. Never
        disappointed!
      </p>
      <div class="star-group">
        <span class="name"
          >Stephanie &mdash; <span class="desc">Realtor</span></span
        >
        <picture>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/icons/stars.svg"
            alt="stars"
            width="91"
            height="15" />
        </picture>
      </div>
    </div>
    <div class="review">
      <picture>
        <img
          aria-hidden="true"
          class="profile"
          loading="lazy"
          decoding="async"
          src="/assets/icons/profile-woman.svg"
          alt="profile image of a woman"
          width="99"
          height="99" />
      </picture>
      <p>
        This company is exceptional! From the moment I first contacted them,
        they responded promptly to my questions. They arrived at our house for a
        move out cleaning. Our house is an older home with 5 bedrooms, 2 baths
        and an unfinished basement. Quite a job. It took longer than expected
        but he stuck to the quote he gave. My family is very impressed with the
        company and the job they did. I wish I could give them more than the 5
        stars! Thank you Wasatch Maids!!
      </p>
      <div class="star-group">
        <span class="name"
          >Sue &mdash; <span class="desc">Homeowner</span></span
        >
        <picture>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/icons/stars.svg"
            alt="stars"
            width="91"
            height="15" />
        </picture>
      </div>
    </div>
  </div>
  <a class="button-solid" href="https://goo.gl/maps/HYi247PUFRcpYPdZA"
    >Read More Reviews</a
  >
</section>
