<section id="banner">
  <div class="banner-container">
    <h3 class="banner-heading">Services</h3>
    <p class="banner-subheading">
      We offer all the services you need to get the job done. With our complete
      satisfaction guarantee, the days of looking for cleaning services near you
      are long gone. Never have to worry about keeping your business, office,
      home, store, or rental clean with Wasatch Cleaning Services.
      <br /><br />
      Click on any of the services below for bookings or to contact us.
    </p>
    <div class="banner_card-container first">
      <div class="banner_card">
        <div class="banner_card-content">
          <img src="/assets/icons/house.svg" aria-hidden="true" alt="drink" />
          <div class="banner_card-content-body">
            <h3>Residential Cleaning</h3>
            <p>
              Every home deserves to shine. Choose from one-time, weekly,
              bi-weekly, or monthly cleanings to keep your home looking
              brand-new.
            </p>
            <a href="/cleaning-services/house-cleaning.html">
              <span class="link-spanner"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="banner_cards">
      <div class="banner_card-container">
        <div class="banner_card">
          <div class="banner_card-content">
            <img
              src="/assets/icons/moving.svg"
              aria-hidden="true"
              alt="Icon of a moving box"
            />
            <div class="banner_card-content-body">
              <h3>Move-In / Move-Out Cleaning</h3>
              <p>
                Want a cleaning before moving in or out? We're here to help so
                you can spend less time cleaning and more time enjoying your
                place. We work with realtors too!
              </p>
              <a href="/contact.html">
                <span class="link-spanner"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="banner_card-container">
        <div class="banner_card">
          <div class="banner_card-content">
            <img
              src="/assets/icons/bucket.svg"
              aria-hidden="true"
              alt="icon of a bucket"
            />
            <div class="banner_card-content-body">
              <h3>Deep Cleaning</h3>
              <p>
                Been a while since you've had a good clean? Let us give your
                home a little bit more of a detailed clean, so you can focus on
                the happy moments.
              </p>
              <a href="/cleaning-services/deep-cleaning.html">
                <span class="link-spanner"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="banner_card-container">
        <div class="banner_card">
          <div class="banner_card-content">
            <img
              src="/assets/icons/construction.svg"
              aria-hidden="true"
              alt="Icon of a construction site"
            />
            <div class="banner_card-content-body">
              <h3>Post-Construction Cleaning</h3>
              <p>
                Once the construction crew leaves, Wasatch Maids comes in. Our
                pros will get your space back to normal or help prepare for a
                grand opening.
              </p>
              <a href="/contact.html">
                <span class="link-spanner"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="banner_card-container">
        <div class="banner_card">
          <div class="banner_card-content">
            <img
              src="/assets/icons/house-home-rent-sign.svg"
              aria-hidden="true"
              alt="Icon of a house with a for rent sign out front"
            />
            <div class="banner_card-content-body">
              <h3>Rental Cleanings</h3>
              <p>
                Airbnb? VRBO? Other rental property? No problem! We'll clean
                your rentals to keep your ratings high and satisfaction even
                higher.
              </p>
              <a href="/contact.html">
                <span class="link-spanner"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banner_card-container first">
      <div class="banner_card">
        <div class="banner_card-content">
          <img
            src="/assets/icons/building.svg"
            aria-hidden="true"
            alt="Icon of a building"
          />
          <div class="banner_card-content-body">
            <h3>Commercial Cleaning</h3>
            <p>
              When you need a deep clean or routine maintenance, we offer
              office, warehouse, and janitorial services. Our professionals will
              keep your location in top condition.
            </p>
            <a href="/contact.html">
              <span class="link-spanner"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="circle-container-small">
    <div aria-hidden="true" class="circle services circle1"></div>
    <div aria-hidden="true" class="circle circle2"></div>
  </div>
</section>
