---
layout: layouts/base.html
activemenu: "blog"
meta:
  title: "House Cleaning Blog | Wasatch Maids"
  description: "Reach facts and home cleaning tips, how to guides, and updates from Wasatch Maids."
  link: "https://wasatchmaids.com/blog/"
  socialimage: "/assets/images/Ogden-Utah.jpg"
about:
  heroTitle: "Our Blog"
  heroContent: ""
---

<main>
  {% include "hero.html" %}

  <section class="general_content">
    <div class="general_content-container">
      <div class="general_content-component">
        <div class="general_content-text">
          <div class="blog-stuff">
            <h2 class="post-list-heading">Posts</h2>
            <ul class="post-list">
              {%- for post in collections.post | reverse -%} {% include
              'article-snippet.html' %} {%- endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <div class="container" style="padding-top: 20px; padding-bottom: 20px">
    <h3>Check back soon...</h3>
  </div> -->
</main>
