<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    <script
      defer
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <header>{% include "header.html" %}</header>
    {% block content %} {{ content | safe }} {% endblock content %} {% include
    "footer.html" %}
    <script defer src="/scripts/app.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    {% if banner === 'review' %}
    <script>
      let content = document.getElementById("content");

      function toFeedback() {
        content.innerHTML = `
            <fieldset>
              <p>
                We're so sorry to hear that 😔. Please let us know what we can
                do better, and include your name if you want us to get back out
                for a free reclean. Your satisfaction is guaranteed and we want
                to make it right!
              </p>
              <textarea
                cols="30"
                rows="5"
                name="experience-response"
                placeholder="Enter your response here"
                required></textarea>
            </fieldset>
            <p class="form-submit" style="justify-content: flex-start">
              <button
                type="submit"
                id="contact-submit"
                class="primary button-solid"
                data-submit="...Sending">
                Submit
              </button>
            </p>
  `;
        console.log("clicked");
      }

      function toReview() {
        content.innerHTML = `
            <fieldset>
              <p>
              🤩 🤩
              </p>
            </fieldset>
            <input type="hidden" name="experience-response" value="Sent To Google" />
            <p class="form-submit" style="justify-content: flex-start">
              <a
                href="https://g.page/r/CaFUSZgK9hg2EBM/review"
                id="contact-submit"
                class="primary button-solid"
                data-submit="...Sending">
                Submit</a>
            </p>
  `;
      }
    </script>
    {% endif %} {% if banner === 'tools' %}
    <script>
      function workersOnJob(val) {
        console.log(val);
        let content =
          '<div><h3> Team / Staff Name(s) <span class="required">(Required)</span></h3>';
        if (+val) {
          for (let i = 0; i < +val; i++) {
            let div = `
          <span>Team member ${i + 1}</span>
          <select name="team-member-${
            i + 1
          }" aria-label="team-member-1" required>
            <option value="" selected>Select one....</option>
            <option value="Alicia">Alicia</option>
            <option value="Glenda">Glenda</option>
            <option value="Guadalupe">Guadalupe</option>
            <option value="Luz">Luz</option>
            <option value="Valentin">Valentin</option>
            <option value="Eva">Eva</option>
            <option value="Adam">Adam</option>
            <option value="Jeremy">Jeremy</option>
            <option value="Michell">Michell</option>
          </select>
          `;
            content += div;
          }
          document.getElementById("workers-involved").innerHTML =
            content + `</div>`;
        } else {
          console.log("else");
          document.getElementById("workers-involved").innerHTML = "";
        }
      }

      function spentMoney(val) {
        if (val === "Yes") {
          document.getElementById("money-spent").innerHTML = `
       <legend><h3>How Much Was Spent? <span class="required">(Required)</span></h3></legend> <input required   type="number" min="0.01" step="0.01" max="2500" name="amount-spent" style="width: 150px" placeholder="0.00" />
    `;
        } else {
          document.getElementById("money-spent").innerHTML = "";
        }
      }

      function relatedToBooking(val) {
        if (val === "Yes") {
          document.getElementById("customer-involved").innerHTML = `
       <legend><h3>Customer Name & Booking ID<span class="required">(Required)</span></h3></legend>
            <div class="grid-2"><div><input type="text" name="customer-name" required placeholder="Customer Name" /><input type="text" name="booking-id" required placeholder="Booking ID" /> </div></div>`;
        } else {
          document.getElementById("customer-involved").innerHTML = "";
        }
      }
    </script>
    {% endif %}
  </body>
</html>
