<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    <script
      defer
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <header>{% include "header.html" %}</header>
    {% block content %} {{ content | safe }} {% endblock content %} {% include
    "footer.html" %}
    <script defer src="/scripts/app.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    {% if banner === 'review' %}
    <script>
      let content = document.getElementById("content");

      function toFeedback() {
        content.innerHTML = `
            <fieldset>
              <p>
                We're so sorry to hear that 😔. Please let us know what we can
                do better, and include your name if you want us to get back out
                for a free reclean. Your satisfaction is guaranteed and we want
                to make it right!
              </p>
              <textarea
                cols="30"
                rows="5"
                name="experience-response"
                placeholder="Enter your response here"
                required></textarea>
            </fieldset>
            <p class="form-submit" style="justify-content: flex-start">
              <button
                type="submit"
                id="contact-submit"
                class="primary button-solid"
                data-submit="...Sending">
                Submit
              </button>
            </p>
  `;
        console.log("clicked");
      }

      function toReview() {
        content.innerHTML = `
            <fieldset>
              <p>
                We're so happy to hear that! 🤩 Press "Submit" to be redirected and leave a review on Google</span>
              </p>
            </fieldset>
            <input type="hidden" name="experience-response" value="Sent To Google" />
            <p class="form-submit" style="justify-content: flex-start">
              <a
                href="https://g.page/r/CaFUSZgK9hg2EBM/review"
                id="contact-submit"
                class="primary button-solid"
                data-submit="...Sending">
                Submit</a>
            </p>
  `;
      }
    </script>
    {% endif %}
  </body>
</html>
