{% extends "layouts/base.html" %} {% block content %}
<main id="main">
  <section class="page-content">
    <div class="content-container">
      <div class="content-component">
        <div class="content-text-wrapper">
          <h1 class="text-heading">{{ heading.title }}</h1>
          <p>{{ heading.intro }}</p>
          <br />
          <p>
            Questions? Give us a
            <a class="blue-link" href="tel:801-821-2316">call</a>, send us a
            <a class="blue-link" href="sms:8018212316">text</a>, or
            <a class="blue-link" href="mailto:contact@wasatchmaids.com"
              >e-mail</a
            >
            us!
          </p>
        </div>
        <div class="image-container">
          <img src="{{ heading.image.url }}" alt="{{ heading.image.text }}" />
        </div>
      </div>
    </div>
  </section>
  {{ content | safe }}
</main>
{% endblock content %}
