{% extends "layouts/base.html" %} {% block content %}

<main id="main">
  <section class="page-content">
    <div class="content-container">
      <div class="content-component">
        <div class="content-text-wrapper">
          <h1 class="text-heading small">
            <span class="text-blue">Home Cleaning</span> and
            <span class="text-blue">Maid Services</span> in {{ about.city }}
            Utah
          </h1>
          <p>
            {{ heading.intro }} Want anything that's not included in our
            standard cleaning, or looking for an office or post-construction
            clean? Give us a
            <a class="blue-link" href="tel:801-821-2316">call</a>, send us a
            <a class="blue-link" href="sms:8018212316">text</a>, or
            <a class="blue-link" href="mailto:contact@wasatchmaids.com"
              >e-mail</a
            >
            us!
          </p>
          <span>
            <a
              style="width: 150px; margin-top: 10px; margin-right: 10px"
              class="button-solid"
              href="/booknow.html"
              >Book Now</a
            >
            <a
              style="width: 150px; margin-top: 10px"
              class="button-solid"
              href="/home-cleaning-checklist.html"
              >View Checklist</a
            >
          </span>
        </div>
        <div class="image-container">
          <img src="{{ heading.image.url }}" alt="{{ heading.image.text }}" />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div>
      <div>{{ content | safe }}</div>
    </div>
  </section>

  {% CtaBanner text="Schedule Your Home Cleaning", btnText="Book Now",
  btnLink="/booknow.html", dark=false %}
  <section class="general_content">
    <div class="general_content-container">
      <div class="text-content">
        <p>
          Either
          <a class="blue-link" href="../booknow.html">book online</a>, give us a
          <a class="blue-link" href="tel:801-821-2316">call</a>, send us a
          <a class="blue-link" href="sms:8018212316">text</a>, or
          <a class="blue-link" href="mailto:contact@wasatchmaids.com">e-mail</a>
          us, and we'd be happy to get you on our {{ about.city }} schedule!
        </p>

        <p>
          We are completely committed to our work and delivery top quality
          cleaning to you. All our house cleaners are
          <span class="key blue">certified maids</span>, and have extensive
          experience cleaning homes of all conditions, shapes, and sizes.
        </p>

        <p>
          Wasatch Maids is <span class="key">highly</span>
          <span class="key blue">insured</span>, and your happiness is
          guaranteed.
        </p>

        <p>
          With our 100% satisfaction guarantee, the days of searching for
          residential cleaning services near you are long gone. Never have to
          worry about keeping your home fresh and clean with Wasatch Maids.
        </p>

        <h3>So, what are you waiting for?</h3>
        <p>
          Sit back, kick your feet up and relax because the cleaning pros at
          Wasatch Maids have you covered.
        </p>
      </div>
    </div>
  </section>
  <!-- {% include "checklist.html" %} -->
</main>

{% endblock content %}
