@media screen and (min-width: 0px) {
  input,
  textarea,
  button[type="submit"],
  a#contact-submit,
  select {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    width: 100%;
    border: none;
    /* border: 1px solid transparent; */
    border: 1px solid rgb(212, 212, 212);
    background: #fff;
    margin: 0 0 15px;
    padding: 20px 20px 20px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .tools-form input,
  .tools-form select {
    padding: 10px 10px 10px 5px;
  }

  fieldset,
  legend {
    border: none;
    display: block;
    padding: 0;
    margin: 0;
  }

  fieldset > div {
    margin-bottom: 15px;
  }

  input:hover,
  select:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -o-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid var(--primary-blue);
  }

  textarea {
    max-width: 100%;
    resize: none;
    margin-bottom: 0px;
  }

  button[type="submit"],
  a#contact-submit {
    cursor: pointer;
    width: 100%;
    font-weight: 800;
    font-size: 1em;
    margin: 0;
    background: var(--primary-blue);
    color: #fff;
    width: auto;
    padding: 10px 30px;
    border: none;
  }

  .form-body button::before {
    border-color: var(--primary-blue);
  }

  .form-body button::after {
    border-color: var(--primary-blue);
  }

  .form-body button[type="submit"]:hover,
  a#contact-submit:hover {
    opacity: 0.6;
    -webkit-transition: background 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  .form-body button[type="submit"]:active,
  a#contact-submit:active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }

  a#contact-submit {
    text-transform: uppercase;
  }

  .form-body input:focus,
  .form-body select:focus,
  .form-body textarea:focus {
    outline: 0;
    border: 1px solid #999;
  }

  .form-body h3,
  .normal-font {
    font-weight: normal;
    font-size: 1.1em;
    margin-bottom: 15px;
  }

  .form-body .grid-2 {
    grid-template-columns: 1fr;
  }

  .required {
    color: var(--red);
    font-style: italic;
    font-size: 0.8em;
  }

  .choice {
    /* display: flex; */
    /* align-items: baseline; */
    /* gap: 10px; */
    /* justify-content: center; */
    margin-left: 10px;
    /* display: inline-flex; */
  }

  input[type="radio"],
  input[type="checkbox"] {
    /* display: inline; */
    margin-bottom: 0px;
    margin-right: 5px;
    /* transform: scale(1.3); */
  }
  label > input {
    width: 20px;
  }
  .choice > label {
    display: inline-flex;
    align-items: baseline;
    width: 100%;
    font-weight: normal;
  }
  .choice > label > .key {
    padding: 0px 3px;
  }
  form p {
    margin-bottom: 15px;
  }
  em {
    font-size: 0.9em;
  }
  .description h3 {
    margin-bottom: 0px;
    padding-bottom: 10px;
  }
  .description ul {
    margin-top: 0px;
    padding-inline-start: 20px;
  }
}

@media screen and (min-width: 600px) {
  /* input,
   button[type="submit"] {
    width: 90%;
  } */

  .form-body .grid-2 {
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
