@import url('./core-styles.css');
@import url('./style.css');

.text-form input,
.text-form textarea {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  width: 100%;
  border: none;
  /* border: 1px solid transparent; */
  border: 1px solid rgb(212, 212, 212);
  background: #fff;
  margin: 0 0 15px;
  padding: 10px 10px 10px 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

input:focus,
textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

button[type='submit'],
a#contact-submit {
  cursor: pointer;
  width: 100%;
  font-weight: 800;
  font-size: 1em;
  margin: 0;
  background: var(--primary-blue);
  color: #fff;
  width: auto;
  padding: 10px 30px;
  border: none;
}

#msgr-widget {
  position: absolute;
  left: -9000px;
}

.msgrw {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 900;
}

.msgrw-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 0px) {
  .floating-cta-btn {
    display: flex;
    color: rgb(43, 46, 49);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding-left: 12px;
    padding-right: 0px;
    flex-direction: row;
    justify-content: right;
    align-items: center;
  }
  .floating-cta-icon {
    background-color: var(--red);
    width: 50px;
    height: 50px;
    display: flex;
    align-self: flex-end;
    text-align: center;
    align-items: center;
    padding-left: 10px;
    align-content: center;
    border-radius: 50%;
    padding-right: 10px;
    margin-right: 2px;
  }
  .cta-text {
    margin: 0 auto;
  }
  .msgrw_opened {
    position: static;
  }
  .msgrw-body {
    position: absolute;
    width: 100vw;
    bottom: 0px;
    z-index: 100000000;
    overflow: hidden;
    height: 100%;
    min-height: unset;
    max-height: unset;
    /* height: calc(100vh - 70px); */
    /* z-index: 10000; */
    /* width: 310px; */
    right: -800px;
    /* height: 150px; */
    background: var(--off-white);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: 0.15s;
  }
  .msgrw-body__opened {
    position: fixed;
    right: 0px;
    bottom: 0px;
  }
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: var(--red);
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px var(--red);
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}
.checkmark.back {
  stroke-width: 1;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 29;
  stroke-dashoffset: 29;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px var(--red);
  }
}

@media only screen and (min-width: 760px) {
  .msgrw-body {
    position: absolute;
    bottom: 100px;
    right: -800px;
    width: 310px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: 0.15s;
  }
  .msgrw-body__opened {
    position: fixed;
    right: 40px;
    bottom: 0px;
    width: 385px;
    height: 650px;
  }
}

.msgrw-body-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.close-btn,
.back-btn {
  position: absolute;
  bottom: 0px;
  text-align: right;
  margin-right: 5px;
  padding: 10px 0;
}
.close-btn {
  text-align: right;
  right: 10px;
}
.close-btn:hover,
.back-btn:hover {
  cursor: pointer;
  opacity: 0.55;
}
.back-btn {
  text-align: left;
  left: 15px;
}

.msgrw--close {
  top: 10px;
  right: 15px;
  position: absolute;
  opacity: 0.33;
  transition: 0.15s;
}

.msgrw--close::before,
.msgrw--close::after {
  content: '';
  height: 10px;
  width: 2px;
  background: #444;
  position: absolute;
}

.msgrw--close::before {
  transform: rotate(45deg);
}

.msgrw--close::after {
  transform: rotate(-45deg);
}

.msgrw--close:hover {
  cursor: pointer;
  opacity: 0.75;
}

.text-cta-header {
  background-color: var(--black-blue);
  height: 165px;
  position: relative;
}
.text-cta-header span {
  color: #fff;
}

.text-cta-content {
  padding: 15px;
}
.text-cta-content.btns,
.text-cta-content.text-form {
  margin: 60px 0px auto 0px;
  background: #fff;
  border-radius: 10px;
}
.hours {
  margin-top: 15px;
}
.text-cta-content > .hours > span {
  display: block;
}
.text-cta-content > .hours > .grid {
  display: grid;
  grid-template-columns: 80px 5px 1fr;
}

.msgrw--msg {
  border: 1px solid #eee;
  padding: 10px;
  /* width: 180px; */
  position: relative;
  margin-top: 35px;
  /* margin-right: 20px; */
  /* float: right; */
  /* border-radius: 5px; */
  /* font-family: helvetica; */
  font-size: 0.9em;
  color: #181818;
}

.msgrw--avatar img {
  width: 100%;
}

.msgrw-btn {
  font-family: inherit;
  font-weight: 700;
  padding: 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* background-color: #e30001; */
  /* border-radius: 100%; */
  border-radius: 30px;
  background: white;
  border: none;
  width: 185px;
  height: 57px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  /* background-image: url("https://habrastorage.org/web/a45/e8e/3a3/a45e8e3a378e41eda77fe5fbc6ee575a.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* background-size: 70%; */
  transition: 0.15s;
  /* float: right; */
  z-index: 1000;
}

.contact-btn:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.time-btn {
  padding: 0px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  border-radius: 30px;
  width: 185px;
  height: 85px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  transition: 0.15s;
  border: var(--red);
  display: flex;
  box-shadow: none;
  max-height: 85px;
  align-items: flex-start;
  justify-content: center;
  line-height: 20px;
  padding-top: 1px;
  background-color: var(--red);
  opacity: 0;
  transform: none;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 10ms, transform 333ms cubic-bezier(0.4, 0, 0.2, 1) 10ms;
  z-index: 999;
}

@media (max-width: 500px) {
  .msgrw-btn,
  .time-btn {
    right: 13px;
    bottom: 12px;
  }
}
