/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/

@media only screen and (min-width: 0px) {
  .image-container {
    width: 95%;
  }
  #section_text,
  .section_text {
    padding: 0px 1.25rem 10px 1.25rem;
    padding-bottom: 0px;
  }
  #section_text .cs-container,
  .section_text .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0px;
  }
  #section_text .cs-left,
  .section_text .cs-left {
    /* scaling the font size with the view width */
    font-size: min(2.31vw, 0.7em);
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    height: 39.75em;
    position: relative;
    order: 2;
  }

  #section_text .cs-picture,
  .section_text .cs-picture {
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
    position: absolute;
    display: block;
  }
  #section_text .cs-picture img,
  .section_text .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #section_text .cs-picture1,
  .section_text .cs-picture1 {
    width: 36.3125em;
    height: 36.3125em;
    left: 0;
    top: 0;
  }
  .section_text .cs-picture1.single {
    width: 100%;
    height: 100%;
  }

  #section_text .cs-picture2,
  .section_text .cs-picture2 {
    width: 25.875em;
    height: 25em;
    background-color: #fff;
    right: 0;
    bottom: 0;
  }
  #section_text .cs-picture1,
  .section_text .cs-picture1,
  .section_text .cs-picture2,
  #section_text .cs-picture2 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #ffffff;
  }
  #section_text .cs-right,
  .section_text .cs-right {
    margin-top: 2rem;
  }
  #section_text .cs-topper,
  .section_text .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.1em;
    font-weight: 500;
    color: var(--primary-blue);
    margin-bottom: 0.25rem;
    display: block;
  }
  #section_text .cs-text,
  .section_text .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    max-width: 46.875rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
  }
  /*
  #sbs .cs-title.txt-center,
  .sbs .cs-title.txt-center {
    text-align: center;
  }
  */
  #section_text p,
  .section_text p {
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
  }
  /*
  #sbs p.txt-center,
  .sbs p.txt-center {
    text-align: center;
  }
  #sbs p:last-of-type,
  .sbs p:last-of-type {
    margin-bottom: 0px;
  }
  #sbs .cs-flex-group,
  .sbs .cs-flex-group {
    padding: clamp(1rem, 3vw, 2rem);
    background-color: #f7f7f7;
    border-radius: 1rem;
    position: relative;
  }
  #sbs .cs-flex-p,
  .sbs .cs-flex-p {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: #404040;
  }
  #sbs .cs-name,
  .sbs .cs-name {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0.25rem;
    color: var(--primary-blue);
    display: block;
  }
  #sbs .cs-job,
  .sbs .cs-job {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #404040;
    display: block;
  }
  #sbs .cs-quote-icon,
  .sbs .cs-quote-icon {
    width: clamp(3.75rem, 10vw, 8.5rem);
    height: auto;
    position: absolute;
    bottom: 0rem;
    right: clamp(1rem, 4vw, 2rem);
  }
  #sbs .button-solid,
  .sbs .button-solid {
    margin-top: 2rem;
  }
*/
  #hero {
    height: auto;
    background: url('/assets/images/kitchen2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 150px;
  }

  #hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #000000, #000000);
    opacity: 0.6;
  }

  #contact-hero,
  #generic-hero {
    height: max-content;
    background: url('/assets/images/kitchen2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 150px;
    border-bottom: 3px solid var(--primary-blue);
  }
  #contact-hero.checklist {
    height: auto;
    padding-bottom: 30px;
  }

  #contact-hero:before,
  #generic-hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1px;
    left: 0;
    background-image: linear-gradient(to bottom right, #000000, #000000);
    opacity: 0.6;
  }

  #contact-hero .container,
  #generic-hero .container {
    margin: 0px auto 1rem auto;
  }
  #contact-hero.checklist .container,
  #generic-hero.checklist .container {
    margin-top: 0px;
  }
  #dark {
    position: absolute;
    background: #000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.25;
    z-index: 0;
  }

  .heroText {
    max-width: 400px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 35px;
  }

  .hero-content {
    width: 100%;
    position: relative;
    z-index: 1;
  }

  #home-h,
  #home-c {
    color: #fff;
    font-size: 2em;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 30px;
  }
  #home-c {
    margin: 1rem auto;
  }

  .heroText h2,
  .heroText p,
  .hero-content h3,
  .hero-content p {
    color: #fff;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    line-height: 1.5em;
  }
  .heroText p {
    margin-bottom: 1.25rem;
  }

  .heroText button {
    width: 100%;
    height: 55px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .heroText a {
    display: block;
    width: 200px;
    margin: auto;
  }

  .heroText .contactLink {
    color: #fff;
    display: inline;
    width: auto;
    margin: auto;
  }
  .heroText .contactLink:hover {
    color: #01b3e4;
  }

  .heroText .button-solid {
    margin-bottom: 10px;
  }

  .heroText .button-transparent {
    border: none;
  }

  #faq {
    position: relative;
  }

  .nav-li .button-solid {
    color: #fff;
    line-height: 10px;
    width: 125px;
  }

  #banner {
    border-top: 3px solid var(--green);
    border-bottom: 3px solid var(--green);
    position: relative;
    background-color: var(--primary-blue);
    background-image: url('/assets/images/bg-shape.png');
    background: repeating-conic-gradient(at 50% 60%, #00aad8 0 10deg, var(--primary-blue) 10deg 20deg);
    /* background: radial-gradient(circle at center, #01b3e4, #17a6ce); */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    padding: 3rem 0;
  }

  .banner-container {
    /* max-width: 1200px;
    margin: auto;
    text-align: center; */
    max-width: 540px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 1;
  }

  .banner-heading {
    font-size: 3rem;
    color: white;
    text-align: center;
  }

  .banner-subheading {
    color: white;
    font-size: 1rem;
    margin-bottom: 30px;
    text-align: center;
  }

  .banner_cards {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .banner_card-container {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .banner_card-container.first {
    width: 100%;
    margin: auto;
    padding: 0;
  }
  .banner_card {
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 2.5rem 2em 1rem;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    overflow: hidden;
  }

  .link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .banner_card:hover {
    transform: scale(1.02);
    -webkit-box-shadow: rgb(100 100 111 / 40%) 0px 7px 29px 0px;
    box-shadow: rgb(100 100 111 / 40%) 0px 7px 29px 0px;
  }

  .banner_card:after {
    content: url('/assets/images/star-figure.png');
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .banner_card-content {
    display: block;
  }
  .banner_card-content-body {
    margin: auto;
    -ms-flex: 1;
    flex: 1;
  }

  .banner_card .banner_card-content .img {
    margin-top: 5px;
  }

  #about {
    width: 80%;
    margin: auto;
  }
  #cards {
    position: relative;
  }
  .card {
    height: 450px;
    max-width: 300px;
    background: #fff;
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-shadow: rgb(100 100 111 / 40%) 0px 7px 29px 0px;
    box-shadow: rgb(100 100 111 / 40%) 0px 7px 29px 0px;
  }

  .card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    border-top: 10px solid var(--primary);
    position: absolute;
    max-width: 85%;
    top: 0px;
  }
  .card svg {
    width: 70px;
    height: auto;
    margin-bottom: 30px;
  }
  .card h3,
  .banner_card h3 {
    color: var(--heading);
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  .card p,
  .banner_card p {
    color: var(--p);
    font-size: 14px;
    text-align: center;
    margin: 30px auto;
  }
  .card-content button {
    border: transparent;
    background: 0 0;
    font-size: 14px;
    color: var(--heading);
    margin: 0 auto;
    position: relative;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: 800;
    height: 20px;
    margin-bottom: 20px;
  }
  .card-content button:before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 86px;
    height: 2px;
    background: var(--primary);
  }
  .card-content img,
  .banner_card-content img {
    height: 60px;
    width: 60px;
    margin-bottom: 30px;
  }

  .banner_card-content img {
    width: 100%;
  }
  .card-info h3,
  .card-info p {
    padding: 0 20px;
  }
  .card-info h3 {
    font-size: 1.5em;
    padding: 0;
  }
  .card-info p {
    margin-bottom: 40px;
    padding: 0;
  }
  .card-info button {
    margin-bottom: 50px;
  }

  .features-container {
    max-width: 1200px;
    margin: auto;
  }

  /* #features-section {
    background-color: var(--off-white);
    border-top: 3px solid var(--primary-blue);
  } */

  .services-text-container {
    max-width: 1200px;
  }

  .features_text-wrapper {
    width: 90%;
    margin: 5px auto 50px auto;
  }

  .features_container {
    display: -ms-grid;
    display: grid;
    width: auto;
    margin: 0 5px -35px 5px;
    grid-auto-columns: 1fr;
    grid-column-gap: 21px;
    grid-row-gap: 31px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .feature_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .feature_heading {
    max-width: 200px;
    margin-top: 1rem;
    color: rgba(51, 51, 51, 0.75);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
  .feature_heading img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
  }

  .image-container {
    padding-left: 0;
    border-radius: 5px;
    background-color: var(--primary-blue);
  }

  .image-container img {
    height: 100%;
    padding-right: 0;
    margin: 0;
    margin-top: -15px;
    margin-right: 0;
    margin-left: -15px;
    border-radius: 5px;
    -o-object-fit: cover;
    object-fit: cover;

    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    width: 100vw;
  }
  .image-container-full {
    width: 100%;
  }
  .content-component {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    gap: 15px;
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-grid-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    gap: 15px;
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-grid-2.moving {
    gap: 0px;
  }
  .features_component {
    padding-top: 1.25rem;
    padding-bottom: 70px;
  }

  .blue-link {
    color: var(--primary-blue-darker);
    text-decoration: none;
    transition: ease-in-out 0.2s;
  }

  .blue-link:hover {
    text-decoration: underline;
  }
  .black-link {
    color: var(--text-black);
    text-decoration: none;
    transition: ease-in-out 0.2s;
  }

  .black-link:hover {
    text-decoration: underline;
  }

  .generic-link {
    text-decoration: underline;
    color: var(--primary-blue-darker);
    transition: ease-in-out 0.2s;
  }

  /* REVIEWS */

  #reviews {
    padding: 3rem 0;
    margin: auto;
    text-align: center;
  }
  #reviews .title {
    margin-bottom: 90px;
  }
  #reviews .review {
    padding: 3.2em 1.5em 0.9em 1.5em;
    -webkit-box-shadow: 0px 20px 40px rgb(0 0 0 / 5%);
    box-shadow: 0px 20px 40px rgb(0 0 0 / 5%);
    width: 100%;
    max-width: 20.5em;
    margin: auto;
    margin-bottom: 5em;
    border-radius: 0.25em;
    position: relative;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #reviews .review:last-child {
    margin-bottom: 0px;
  }
  #reviews .review .profile {
    display: block;
    height: 4.95em;
    width: 4.95em;
    margin-left: 0;
    border-radius: 50%;
    margin-bottom: 0.8em;
    position: absolute;
    left: 1.5em;
    top: -2.55em;
  }
  #reviews .review p {
    line-height: 1.33333333;
    margin-bottom: 1.55555556em;
    text-align: left;
  }
  #reviews .review .star-group {
    border-top: 1px solid #e7e7e7;
    padding-top: 0.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: auto;
  }
  #reviews .container {
    width: 96%;
    max-width: 66em;
  }
  #reviews .container:first-of-type {
    margin-bottom: 5em;
  }
  #reviews .button-solid {
    margin-top: 1rem;
  }
  .normal-weight h1,
  .normal-weight h2,
  .normal-weight h3 {
    font-weight: 500;
    color: var(--black-blue);
  }

  .bold-weight h1,
  .bold-weight h2,
  .bold-weight h3 {
    font-weight: 700;
    color: #000;
  }

  .rating {
    position: relative;
    padding-bottom: 45px;
    display: block;
    border: none;
  }

  .stars {
    position: absolute;
    margin-bottom: 15px;
  }

  .rating label {
    width: 2em;
  }

  .rating:not(:checked) > div > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
  }

  .rating:not(:checked) > div > label {
    float: right;
    width: 3em;
    padding: 0 0.1em;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    line-height: 1.2;
  }

  .icon-star {
    width: 3em;
    height: 3em;
    fill: #ccc;
    transition: all 0.3s;
    pointer-events: none;
  }

  .rating > div > input:checked ~ label .icon-star {
    fill: #fc0;
  }

  .rating:not(:checked) > div > label:hover .icon-star,
  .rating:not(:checked) > div > label:hover ~ label .icon-star {
    fill: rgb(147, 147, 147);
  }

  .rating > div > input:checked + label:hover .icon-star,
  .rating > div > input:checked + label:hover ~ label .icon-star,
  .rating > div > input:checked ~ label:hover .icon-star,
  .rating > div > input:checked ~ label:hover ~ label .icon-star,
  .rating > div > label:hover ~ input:checked ~ label .icon-star {
    fill: #fd0;
  }

  .rating > div > label:active {
    position: relative;
    top: 1px;
    left: 1px;
  }

  .tools h3,
  .tools h4 {
    margin-bottom: 10px;
  }

  .tools ul {
    margin-top: 0px;
  }
}

@media screen and (min-width: 600px) {
  li > a.key {
    display: inline-block;
  }

  #contact-hero,
  #generic-hero {
    height: 200px;
  }
  /* #contact-hero .container,
  #generic-hero .container {
    margin-top: 40px;
  } */
  #contact-hero.checklist,
  #generic-hero.checklist {
    height: 300px;
  }
  .banner_card {
    padding: 2.5rem 2em 1rem;
  }
  .banner_card-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: center;
  }
  .banner_card-content-body {
    margin-left: 3rem;
  }
  .banner_card-content img {
    width: 60px;
  }
}

@media only screen and (min-width: 768px) {
  #section_text .cs-right,
  .section_text .cs-right {
    margin: auto;
  }
  #section_text .cs-left,
  .section_text .cs-left {
    font-size: min(2.31vw, 0.7em);
    width: 59.4375em;
    height: 39.75em;
    position: relative;
    order: initial;
  }
  /* #section_text .cs-container,
  .section_text .cs-container {
    row-gap: 2rem;
  } */

  .heroText {
    margin-top: 50px;
    max-width: 570px;
  }

  #home-h,
  #home-c {
    font-size: 3em;
  }

  .heroText h2,
  .heroText p,
  .hero-content h3,
  .hero-content p {
    /* width: 500px; */
    margin: auto;
    margin-bottom: 50px;
    font-size: 20px;
  }
  .hero-content h3,
  .hero-content p {
    width: auto;
  }

  #features-section {
    margin: 30px auto 0px auto;
  }

  #reviews {
    padding: 50px 0;
  }

  #reviews .title {
    margin-bottom: 6rem;
    font-weight: 700;
    font-size: min(9vw, 2.4em);
    line-height: 1.20833333;
    color: #1a1a1a;
    position: relative;
    text-align: center;
  }
  #reviews .review {
    margin: 0;
  }
  #reviews .container {
    font-size: min(1.4vw, 1em);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
  }

  #reviews .button-solid {
    margin-top: 1rem;
  }
  #contact-hero .container,
  #generic-hero .container {
    margin-top: 50px;
  }
  .image-container {
    width: 95%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .image-container {
    width: 50%;
  }
  .features_container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .card {
    max-width: 450px !important;
    height: 350px;
  }

  /* .banner_cards {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: auto 40px;
  } */

  .card-info {
    width: 50%;
    padding: 0 1em;
  }
  .banner-container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 1024px) {
  .image-container {
    width: 40%;
  }
  #section_text .cs-container,
  .section_text .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
    padding: 10px 50px 0px 50px;
  }
  #section_text .cs-container.right > .cs-left,
  .section_text .cs-container.right > .cs-left {
    order: 2;
  }
  #section_text .cs-left,
  .section_text .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #section_text .cs-right,
  .section_text .cs-right {
    margin: 0;
  }
  #section_text .cs-left,
  .section_text .cs-left {
    /* scaling the font size with the view width */
    font-size: min(2.31vw, 0.7em);
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    height: 39.75em;
    position: relative;
  }
  #section_text .cs-picture1,
  .section_text .cs-picture1 {
    width: 36.3125em;
  }

  .content-component {
    margin-top: 50px;
    margin-bottom: 30px;
    -webkit-box-orient: auto;
    -webkit-box-direction: auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 0px;
  }
  .flex-grid-2 {
    margin-top: 25px;
    margin-bottom: 25px;
    -webkit-box-orient: auto;
    -webkit-box-direction: auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 0px;
  }
  .features_component {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 96%;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    /* padding-top: calc(40px + 1.25rem); */
    padding-bottom: 40px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    gap: 15px;
  }

  .features_text-wrapper {
    width: 50%;
    margin: auto;
    margin-left: 0;
  }
  .content-text-wrapper {
    width: 50%;
    margin: auto;
    margin-left: 0;
  }
  .flex-grid-2-content {
    width: 50%;
    margin-left: 0;
  }

  .services_text-container {
    width: 90%;
    margin: auto;
  }
  .features_container {
    display: -ms-grid;
    display: grid;
    width: 450px;
    margin: auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 21px;
    grid-row-gap: 31px;
    align-items: center;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  #hero .container {
    max-width: 800px;
  }
  #contact-hero .container,
  #generic-hero .container {
    max-width: 800px;
  }

  #hero {
    background-attachment: fixed;
    min-height: 75vh; /* makes this section as tall as whatever the screen is */
  }
  #contact-hero,
  #generic-hero {
    background-attachment: fixed;
    padding-top: 80px;
    min-height: 390px;
  }
  #contact-hero.checklist,
  #generic-hero.checklist {
    min-height: 550px;
  }

  .heroText {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    max-width: 750px;
    padding-bottom: 0px;
  }

  #home-h {
    text-align: left;
    font-size: 45px;
  }
  #home-h,
  #home-c {
    text-align: left;
    font-size: 45px;
  }

  .heroText h2,
  .heroText p,
  .hero-content h3,
  .hero-content p {
    text-align: left;
    line-height: 1.7em;
    /* width: 500px; */
    margin-left: 0;
    font-size: 1.25rem;
  }
  .hero-content h3 {
    width: auto;
  }

  .heroText a {
    display: inline-block;
  }

  .heroText .contactLink {
    color: #fff;
    display: inline;
    width: auto;
    margin: auto;
  }

  .heroText .contactLink:hover {
    transition: ease-in-out 0.2s;
    color: var(--primary-blue);
  }

  .heroText .button-solid {
    margin-right: 20px;
  }

  .heroText .button-transparent {
    border: none;
  }
  #cards {
    position: relative;
    z-index: 1;
  }
  .card {
    width: 400px;
    margin: 0;
    height: 450px;
  }
  .card:nth-child(2) {
    top: -30px;
  }
  .card-content button {
    position: relative;
    left: 15px;
  }
  .card-content button:before {
    width: 93px;
  }
  .card-content button:hover {
    cursor: pointer;
  }
  .card-content p {
    height: 150px;
  }

  .card-container {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: auto;
    position: relative;
    top: -75px;
  }
  .card-content button {
    margin-bottom: 60px;
  }
  .card-info {
    width: 50%;
    padding: 0 1em;
  }
  /* .banner_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: auto 40px;
  } */
  #banner {
    padding: 40px 0;
  }
  .banner-container {
    max-width: 1200px;
  }
  .banner_card-container {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .banner_card h3,
  .banner_card p {
    text-align: left;
  }
  .banner_card-container.first {
    max-height: 254px;
  }
}

@media screen and (max-width: 1024px) {
  .image-container {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 0;
    padding-bottom: 15px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media only screen and (min-width: 1300px) {
  #hero .container {
    max-width: 1200px;
  }
  #contact-hero .container,
  #generic-hero .container {
    max-width: 1200px;
  }
  .features_text-wrapper {
    width: 50%;
    margin: auto;
    margin-left: 0;
  }
  .features_container {
    margin-left: 30px;
  }
  #banner {
    padding: 50px 0;
  }
  #services-checklist {
    padding: 50px 0;
  }
}
